.app__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1.5em;
  max-width: 900px;
}

.intro__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.intro__section__title {
  font-weight: 700;
  font-size: 40px;
}
