.prompt {
  margin: 1.5em 0em;
  width: 100%;
}

.prompt__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.prompt__input {
  width: 100%;
  height: 57px;
  padding: 10px;
  margin: 2.5em 0 1em 0;
  border-radius: 50px;
}
.prompt__button__group {
  margin: 2em 0;
  display: flex;
  justify-content: center;
}
.prompt__submit__button {
  position: relative;
  cursor: pointer;
  background: #020202;
  color: #fff;
  border: 1px solid #eee;
  height: 48px;
  width: 200px;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
  transition: all 0.5s ease;
}

.prompt__submit__button:hover {
  background: #cecece;
  color: #fff;
  border-radius: 50px;
}

.prompt__submit__button__text {
  font-weight: 700;
  transition: all 0.2s;
}

.button--loading .prompt__submit__button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading .prompt__submit__button {
  background: #cecece;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
