.result__card {
  margin: 1em 0;
}

.result__card__prompt {
  margin: 0.25em 0;
}

.result__card__response {
  margin: 0.25em 0;
}

.result__card__seperator {
  margin: 3em auto;
  border: 0;
  border-top: 2px solid #8d8d8d;
  max-width: 80%;
}
